<h1 class="text-center">Detalhes do Pet</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div style="border-color: green; border-style: solid; width: 356px; height: 300px;">
        <img src="{{ pet.photo.url }}" alt="Norway" width="350" height="263" style="margin-top: 16px;">
      </div>
      <br>
    </div>
    <div class="col-sm-8">
      <p>{{ pet.description }}</p>
      <h4>Contato</h4>
      <p><b>Tel.: </b>{{ pet.phone }}</p>
      <p><b>E-mail: </b>{{ pet.email }}</p>
      {% if request.user == pet.user %}
        <a href="/pet/register/?id={{ pet.id }}">
          <button type="button" class="btn btn-primary">Alterar</button>
        </a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_confirm">Excluir</button>
      {% endif %}
    </div>
  </div>
</div>
<br>